In [1]:
import cdt
import random

No GPU automatically detected. Setting SETTINGS.GPU to 0, and SETTINGS.NJOBS to cpu_count.

In [2]:
random.seed(0)

In [3]:
data = cdt.data.load_dataset("sachs")

In [4]:
data[0]

,praf,pmek,plcg,PIP2,PIP3,p44/42,pakts473,PKA,PKC,P38,pjnk
0,26.4,13.20,8.82,18.30,58.80,6.61,17.0,414.0,17.00,44.90,40.00
1,35.9,16.50,12.30,16.80,8.13,18.60,32.5,352.0,3.37,16.50,61.50
2,59.4,44.10,14.60,10.20,13.00,14.90,32.5,403.0,11.40,31.90,19.50
3,73.0,82.80,23.10,13.50,1.29,5.83,11.8,528.0,13.70,28.60,23.10
4,33.7,19.80,5.19,9.73,24.80,21.10,46.1,305.0,4.66,25.70,81.30
...,...,...,...,...,...,...,...,...,...,...,...
7461,49.1,12.40,32.80,27.90,22.70,11.70,38.2,1144.0,1.00,2.55,1.00
7462,23.3,4.61,17.80,22.10,14.90,48.70,67.3,922.0,1.00,9.82,1.00
7463,28.1,4.49,18.80,20.20,10.20,3.08,21.9,730.0,1.00,1.75,2.00
7464,34.6,7.10,5.73,20.70,15.10,32.20,41.4,813.0,44.50,1382.00,2.44
7465,30.5,1.01,7.30,173.00,22.90,6.61,13.7,890.0,1.00,1.00,1.65

In [5]:
data[0].columns

Index(['praf', 'pmek', 'plcg', 'PIP2', 'PIP3', 'p44/42', 'pakts473', 'PKA',
       'PKC', 'P38', 'pjnk'],
      dtype='object')

In [6]:
data[0].corr()

,praf,pmek,plcg,PIP2,PIP3,p44/42,pakts473,PKA,PKC,P38,pjnk
praf,1.000000,0.990238,0.241964,0.215247,-0.010558,0.028251,0.273803,-0.147102,0.194045,0.218698,0.192689
pmek,0.990238,1.000000,0.271103,0.241443,-0.017135,0.039611,0.309448,-0.159994,0.218725,0.244555,0.221409
plcg,0.241964,0.271103,1.000000,0.926233,0.086955,0.153027,0.442973,-0.193252,0.355486,0.377967,0.410240
PIP2,0.215247,0.241443,0.926233,1.000000,0.195057,0.140663,0.408849,-0.177130,0.337047,0.356615,0.382692
PIP3,-0.010558,-0.017135,0.086955,0.195057,1.000000,-0.032356,-0.049051,0.004952,-0.032547,-0.030729,-0.040550
p44/42,0.028251,0.039611,0.153027,0.140663,-0.032356,1.000000,0.687325,0.221461,0.131469,0.135651,0.156159
pakts473,0.273803,0.309448,0.442973,0.408849,-0.049051,0.687325,1.000000,-0.012467,0.379351,0.401112,0.440162
PKA,-0.147102,-0.159994,-0.193252,-0.177130,0.004952,0.221461,-0.012467,1.000000,-0.159382,-0.181486,-0.178506
PKC,0.194045,0.218725,0.355486,0.337047,-0.032547,0.131469,0.379351,-0.159382,1.000000,0.958921,0.813999
P38,0.218698,0.244555,0.377967,0.356615,-0.030729,0.135651,0.401112,-0.181486,0.958921,1.000000,0.798476
pjnk,0.192689,0.221409,0.410240,0.382692,-0.040550,0.156159,0.440162,-0.178506,0.813999,0.798476,1.000000

In [7]:
data[0][["praf", "pmek"]].describe()

              praf         pmek
count  7466.000000  7466.000000
mean    124.071930   145.380962
std     247.528092   377.056214
min       1.000000     1.000000
25%      30.800000    16.500000
50%      53.800000    26.700000
75%     103.000000    64.400000
max    4614.000000  7105.000000

## Mask P38 Based on PKC (Prediction target P38)

In [8]:
data[0][["PKC", "P38"]].describe()

               PKC          P38
count  7466.000000  7466.000000
mean     30.341658   135.014504
std      92.870039   494.768842
min       1.000000     1.000000
25%       4.460000    19.300000
50%      12.700000    30.500000
75%      23.500000    49.600000
max    1611.000000  7499.000000

In [9]:
data[0].loc[data[0]["PKC"]>23.5]

,praf,pmek,plcg,PIP2,PIP3,p44/42,pakts473,PKA,PKC,P38,pjnk
8,104.00,61.50,10.60,21.1,41.8,11.50,23.5,445.0,29.2,61.0,25.30
11,74.30,22.90,7.50,15.5,26.2,20.90,36.5,389.0,31.9,71.0,35.50
15,50.00,13.80,11.90,13.2,11.3,18.10,27.9,392.0,56.2,77.0,1.00
16,26.20,26.70,21.30,10.9,14.7,9.06,37.9,89.0,40.0,65.5,1.42
18,30.50,19.80,7.50,133.0,15.7,19.10,36.2,319.0,24.1,37.2,17.20
...,...,...,...,...,...,...,...,...,...,...,...
7114,2.23,2.71,10.20,40.7,50.0,21.90,29.2,403.0,25.7,505.0,9.22
7253,34.90,3.02,30.80,24.1,20.4,18.80,19.5,239.0,39.2,28.4,7.99
7298,58.30,10.40,28.60,25.7,14.2,29.70,27.6,237.0,24.1,2017.0,1.22
7337,58.80,1.81,12.70,231.0,35.2,9.31,13.7,302.0,63.2,2525.0,12.60
7464,34.60,7.10,5.73,20.7,15.1,32.20,41.4,813.0,44.5,1382.0,2.44

In [10]:
PKC_q = data[0].loc[data[0]["PKC"]>23.5]

In [11]:
PKC_s_idx = random.sample(range(len(PKC_q)), int(len(PKC_q) * 0.9))

In [12]:
PKC_s_idx = sorted(PKC_s_idx)

In [13]:
PKC_q

,praf,pmek,plcg,PIP2,PIP3,p44/42,pakts473,PKA,PKC,P38,pjnk
8,104.00,61.50,10.60,21.1,41.8,11.50,23.5,445.0,29.2,61.0,25.30
11,74.30,22.90,7.50,15.5,26.2,20.90,36.5,389.0,31.9,71.0,35.50
15,50.00,13.80,11.90,13.2,11.3,18.10,27.9,392.0,56.2,77.0,1.00
16,26.20,26.70,21.30,10.9,14.7,9.06,37.9,89.0,40.0,65.5,1.42
18,30.50,19.80,7.50,133.0,15.7,19.10,36.2,319.0,24.1,37.2,17.20
...,...,...,...,...,...,...,...,...,...,...,...
7114,2.23,2.71,10.20,40.7,50.0,21.90,29.2,403.0,25.7,505.0,9.22
7253,34.90,3.02,30.80,24.1,20.4,18.80,19.5,239.0,39.2,28.4,7.99
7298,58.30,10.40,28.60,25.7,14.2,29.70,27.6,237.0,24.1,2017.0,1.22
7337,58.80,1.81,12.70,231.0,35.2,9.31,13.7,302.0,63.2,2525.0,12.60
7464,34.60,7.10,5.73,20.7,15.1,32.20,41.4,813.0,44.5,1382.0,2.44

In [17]:
len(PKC_s_idx)/len(PKC_q)

0.899513776337115

In [18]:
test_idxs = PKC_q.index[PKC_s_idx]

In [20]:
test_df = data[0].iloc[test_idxs]

In [27]:
train_df = data[0].drop(index=test_idxs)

In [31]:
data[0].describe()

,praf,pmek,plcg,PIP2,PIP3,p44/42,pakts473,PKA,PKC,P38,pjnk
count,7466.000000,7466.000000,7466.000000,7466.000000,7466.000000,7466.000000,7466.000000,7466.000000,7466.000000,7466.000000,7466.000000
mean,124.071930,145.380962,54.853643,151.120738,27.034962,26.631193,81.167214,625.758588,30.341658,135.014504,73.267503
std,247.528092,377.056214,173.859778,299.347505,43.048160,45.826718,137.766206,644.459352,92.870039,494.768842,215.660634
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,30.800000,16.500000,9.410000,18.300000,9.560000,8.510000,23.300000,276.000000,4.460000,19.300000,8.007500
50%,53.800000,26.700000,16.500000,52.800000,17.800000,17.200000,37.200000,449.000000,12.700000,30.500000,18.400000
75%,103.000000,64.400000,27.100000,172.000000,32.800000,32.200000,72.300000,750.000000,23.500000,49.600000,52.800000
max,4614.000000,7105.000000,6208.000000,9058.000000,1275.000000,2571.000000,3555.000000,8896.000000,1611.000000,7499.000000,4740.000000

In [32]:
train_df.describe()

,praf,pmek,plcg,PIP2,PIP3,p44/42,pakts473,PKA,PKC,P38,pjnk
count,5801.000000,5801.000000,5801.000000,5801.000000,5801.000000,5801.000000,5801.000000,5801.000000,5801.000000,5801.000000,5801.000000
mean,105.095897,112.033079,24.946128,103.324566,27.956097,23.582529,55.520821,677.158767,12.140979,49.077606,34.386683
std,217.340108,325.497560,63.393769,155.557535,45.228868,48.178200,87.710222,657.695312,37.680995,227.572738,96.995886
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,29.200000,15.100000,9.310000,17.800000,10.200000,7.500000,22.100000,313.000000,2.920000,16.700000,6.260000
50%,49.100000,24.800000,15.700000,42.200000,18.600000,15.100000,34.300000,474.000000,9.650000,25.500000,14.300000
75%,87.400000,47.000000,23.900000,139.000000,33.700000,27.400000,58.800000,799.000000,15.700000,35.900000,37.200000
max,3820.000000,5829.000000,1843.000000,2943.000000,1275.000000,2571.000000,3555.000000,8896.000000,1611.000000,7499.000000,2864.000000

In [33]:
test_df.describe()

,praf,pmek,plcg,PIP2,PIP3,p44/42,pakts473,PKA,PKC,P38,pjnk
count,1665.000000,1665.000000,1665.000000,1665.000000,1665.000000,1665.000000,1665.000000,1665.000000,1665.000000,1665.000000,1665.000000
mean,190.186024,261.567790,159.053940,317.646619,23.825652,37.252997,170.521405,446.676042,93.754354,434.425886,208.731550
std,323.407719,501.128252,328.046479,530.985382,34.205234,34.432080,219.200238,560.537569,169.012214,895.676597,390.160563
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.010000,1.000000,23.700000,10.200000,1.000000
25%,37.500000,21.500000,10.300000,21.300000,7.700000,13.500000,30.000000,13.800000,28.600000,49.600000,19.300000
50%,79.900000,40.300000,22.900000,142.000000,14.700000,26.400000,61.500000,325.000000,38.500000,80.600000,69.200000
75%,209.000000,325.000000,193.000000,392.000000,28.400000,50.500000,239.000000,599.000000,73.000000,400.000000,209.000000
max,4614.000000,7105.000000,6208.000000,9058.000000,764.000000,392.000000,1499.000000,4698.000000,1358.000000,6916.000000,4740.000000

In [34]:
train_df.to_csv("sachs_train.csv", index=False)

In [35]:
test_df.to_csv("sachs_test.csv", index=False)

In [36]:
for i, col in enumerate(train_df.columns):
    print(f"idx {i}, column: {col}")

idx 0, column: praf
idx 1, column: pmek
idx 2, column: plcg
idx 3, column: PIP2
idx 4, column: PIP3
idx 5, column: p44/42
idx 6, column: pakts473
idx 7, column: PKA
idx 8, column: PKC
idx 9, column: P38
idx 10, column: pjnk